

  <%- include('header', user) %>
  
  <main>
    <div class="group-navigation-container">
      <h3>
        Groups
      </h3>
      <ul class="group-navigation">
        <% memberships.forEach(membership => { 
            const slug = membership
              .toLowerCase()
              .replace(/\s+/g, '-');
        %>
        <li>
          <a href="/group/<%= slug %>">
            <button class="group-button"><%= membership %></button>
          </a>
        </li>
      <% }) %>
      </ul>
        
    </div>
    <div class="welcome-message-container">
      <h1>
        Welcome <span><%= user.firstname %> <%= user.lastname %></span> to the Clubhouse!
      </h1>
      <p>
        An exclusive place for you to join groups and share your thoughts.
      </p>
      <a href="/membership">
        Join a Group!
      </a>
    </div>
  </main>

  <%- include('footer'); -%>
  

